.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.gallery a {
    display: block;
    text-decoration: none;
}

.gallery img {
    width: 100%;
    height: auto;
}